__pycache__/
*.py[cod]
*$py.class
*.so

.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

pip-log.txt
pip-delete-this-directory.txt
*.log
*.tmp

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
docs/_build/

# Jupyter
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json


.pyre/

# ─── Django ───────────────────────────────────────────────────────────────────

db.sqlite3
local_settings.py

media/

staticfiles/

# celery
celerybeat-schedule


# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject


# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
